<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument enabled="true">
            <files>
                <remove value="index.php" />
                <remove value="index.html" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
                <remove value="iisstart.htm" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <httpRedirect>
            <add wildcard="C:\inetpub\wwwroot\MFOV.php" destination="localhost/MFOV.php" />
        </httpRedirect>
        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>
